body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:51px;
  top:59px;
  width:328px;
  height:480px;
  color:#F2F2F2;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:20px;
  width:330px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:86px;
  top:30px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:182px;
  top:30px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:54px;
  top:29px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:51px;
  top:0px;
  width:328px;
  height:27px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:346px;
  top:31px;
  width:20px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:51px;
  top:159px;
  width:328px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:65px;
  top:165px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:313px;
  top:165px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:65px;
  top:186px;
  width:59px;
  height:57px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:134px;
  top:198px;
  width:209px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:134px;
  top:224px;
  width:151px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:315px;
  top:224px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:51px;
  top:263px;
  width:328px;
  height:100px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:65px;
  top:269px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:313px;
  top:269px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:65px;
  top:290px;
  width:59px;
  height:57px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u35 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:134px;
  top:302px;
  width:209px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:134px;
  top:328px;
  width:151px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:315px;
  top:328px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:51px;
  top:153px;
  width:328px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u43 {
  position:absolute;
  left:51px;
  top:252px;
  width:328px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u44 {
  position:absolute;
  left:51px;
  top:259px;
  width:328px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u45 {
  position:absolute;
  left:51px;
  top:356px;
  width:328px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u46 {
  position:absolute;
  left:51px;
  top:367px;
  width:328px;
  height:100px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:100px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:65px;
  top:373px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:313px;
  top:373px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:65px;
  top:394px;
  width:59px;
  height:57px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u53 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:134px;
  top:406px;
  width:209px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:134px;
  top:432px;
  width:151px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:315px;
  top:432px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:51px;
  top:363px;
  width:328px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u61 {
  position:absolute;
  left:51px;
  top:460px;
  width:328px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u62 {
  position:absolute;
  left:312px;
  top:469px;
  width:49px;
  height:49px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u63 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:130px;
  top:133px;
  width:170px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:51px;
  top:59px;
  width:328px;
  height:64px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:64px;
}
#u67 {
  position:absolute;
  left:2px;
  top:24px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
