body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:823px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:66px;
  width:76px;
  height:55px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:104px;
  top:131px;
  width:209px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:177px;
  width:330px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u5 {
  position:absolute;
  left:50px;
  top:20px;
  width:330px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:86px;
  top:30px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:182px;
  top:32px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:54px;
  top:29px;
  width:22px;
  height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:51px;
  top:0px;
  width:328px;
  height:27px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:27px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:272px;
  width:330px;
  height:28px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:28px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:326px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:62px;
  top:308px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:65px;
  top:360px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:62px;
  top:334px;
  width:151px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:52px;
  top:395px;
  width:328px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u24 {
  position:absolute;
  left:162px;
  top:152px;
  width:118px;
  height:16px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:65px;
  top:192px;
  width:67px;
  height:25px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:142px;
  top:192px;
  width:67px;
  height:25px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:219px;
  top:192px;
  width:67px;
  height:25px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:296px;
  top:192px;
  width:67px;
  height:25px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:600px;
  top:66px;
  width:76px;
  height:55px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u35 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:534px;
  top:131px;
  width:209px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:495px;
  top:318px;
  width:66px;
  height:16px;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:495px;
  top:446px;
  width:53px;
  height:16px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:495px;
  top:232px;
  width:156px;
  height:16px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:495px;
  top:289px;
  width:92px;
  height:16px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:495px;
  top:261px;
  width:92px;
  height:16px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:480px;
  top:177px;
  width:330px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u49 {
  position:absolute;
  left:480px;
  top:20px;
  width:330px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:516px;
  top:30px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:612px;
  top:32px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:484px;
  top:29px;
  width:22px;
  height:22px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u56 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:481px;
  top:0px;
  width:328px;
  height:27px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:27px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:495px;
  top:346px;
  width:313px;
  height:80px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:80px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:495px;
  top:479px;
  width:70px;
  height:65px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:65px;
}
#u62 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:575px;
  top:479px;
  width:70px;
  height:65px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:65px;
}
#u64 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:654px;
  top:479px;
  width:70px;
  height:65px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:65px;
}
#u66 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:738px;
  top:479px;
  width:70px;
  height:65px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:65px;
}
#u68 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:484px;
  top:595px;
  width:339px;
  height:35px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:592px;
  top:152px;
  width:118px;
  height:16px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:495px;
  top:192px;
  width:67px;
  height:25px;
  color:#999999;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:572px;
  top:192px;
  width:67px;
  height:25px;
  color:#999999;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:649px;
  top:192px;
  width:67px;
  height:25px;
  color:#999999;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:726px;
  top:192px;
  width:67px;
  height:25px;
  color:#999999;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:204px;
  top:245px;
  width:23px;
  height:23px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:67px;
  top:227px;
  width:156px;
  height:16px;
  color:#666666;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:315px;
  top:308px;
  width:65px;
  height:64px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u86 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:321px;
  top:377px;
  width:53px;
  height:16px;
  color:#999999;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:62px;
  top:408px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:65px;
  top:460px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:62px;
  top:434px;
  width:151px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:52px;
  top:495px;
  width:328px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u96 {
  position:absolute;
  left:315px;
  top:408px;
  width:65px;
  height:64px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u97 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:321px;
  top:477px;
  width:53px;
  height:16px;
  color:#999999;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:62px;
  top:515px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:65px;
  top:567px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:62px;
  top:541px;
  width:151px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:52px;
  top:602px;
  width:328px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u107 {
  position:absolute;
  left:315px;
  top:515px;
  width:65px;
  height:64px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u108 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:321px;
  top:584px;
  width:53px;
  height:16px;
  color:#999999;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:649px;
  top:562px;
  width:23px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u112 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:500px;
  top:640px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:502px;
  top:692px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:500px;
  top:666px;
  width:151px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:490px;
  top:727px;
  width:328px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u120 {
  position:absolute;
  left:752px;
  top:640px;
  width:65px;
  height:64px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u121 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:758px;
  top:709px;
  width:53px;
  height:16px;
  color:#999999;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:500px;
  top:747px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:502px;
  top:799px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:500px;
  top:773px;
  width:151px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:490px;
  top:834px;
  width:328px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u131 {
  position:absolute;
  left:752px;
  top:747px;
  width:65px;
  height:64px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u132 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:758px;
  top:816px;
  width:53px;
  height:16px;
  color:#999999;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
