body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:20px;
  width:330px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:86px;
  top:30px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:182px;
  top:30px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:54px;
  top:29px;
  width:22px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:51px;
  top:0px;
  width:328px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:51px;
  top:59px;
  width:328px;
  height:461px;
  color:#F2F2F2;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:461px;
}
#u11 {
  position:absolute;
  left:2px;
  top:222px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:68px;
  top:90px;
  width:300px;
  height:38px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:68px;
  top:160px;
  width:300px;
  height:38px;
  font-size:14px;
  color:#F2F2F2;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
