body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:430px;
  top:355px;
  width:300px;
  height:355px;
  color:#800080;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:355px;
}
#u1 {
  position:absolute;
  left:2px;
  top:170px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:21px;
  top:59px;
  width:329px;
  height:163px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:163px;
}
#u3 {
  position:absolute;
  left:2px;
  top:74px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:20px;
  width:331px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:56px;
  top:30px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:165px;
  top:30px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:24px;
  top:29px;
  width:22px;
  height:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:21px;
  top:0px;
  width:329px;
  height:27px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:286px;
  top:32px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:40px;
  top:70px;
  width:60px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:110px;
  top:70px;
  width:40px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:110px;
  top:104px;
  width:136px;
  height:16px;
  text-decoration:underline;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:21px;
  top:140px;
  width:329px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:312px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:329px;
  height:1px;
}
#u23 {
  position:absolute;
  left:94px;
  top:160px;
  width:53px;
  height:48px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:48px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:258px;
  top:160px;
  width:53px;
  height:48px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:48px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:21px;
  top:221px;
  width:329px;
  height:318px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:318px;
}
#u28 {
  position:absolute;
  left:2px;
  top:151px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:21px;
  top:267px;
  width:329px;
  height:133px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:133px;
}
#u30 {
  position:absolute;
  left:2px;
  top:58px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:90px;
  top:276px;
  width:53px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:88px;
  top:347px;
  width:40px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:21px;
  top:330px;
  width:329px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:312px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:329px;
  height:1px;
}
#u36 {
  position:absolute;
  left:181px;
  top:267px;
  width:10px;
  height:133px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:116px;
  width:20px;
  height:18px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:133px;
}
#u37 {
  position:absolute;
  left:38px;
  top:345px;
  width:40px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:90px;
  top:296px;
  width:39px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:261px;
  top:278px;
  width:53px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:261px;
  top:348px;
  width:53px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:211px;
  top:276px;
  width:40px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:211px;
  top:348px;
  width:40px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:261px;
  top:298px;
  width:29px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:261px;
  top:370px;
  width:15px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:130px;
  top:221px;
  width:111px;
  height:35px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:21px;
  top:221px;
  width:111px;
  height:35px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:239px;
  top:221px;
  width:111px;
  height:35px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:40px;
  top:160px;
  width:48px;
  height:48px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:203px;
  top:160px;
  width:48px;
  height:48px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:181px;
  top:146px;
  width:10px;
  height:76px;
}
#u63_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u63_end {
  position:absolute;
  left:-5px;
  top:59px;
  width:20px;
  height:18px;
}
#u63_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:76px;
}
#u64 {
  position:absolute;
  left:95px;
  top:32px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:90px;
  top:365px;
  width:69px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:261px;
  top:67px;
  width:78px;
  height:24px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
}
#u69 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:298px;
  top:69px;
  width:37px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:274px;
  top:66px;
  width:23px;
  height:23px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:336px;
  top:70px;
  width:124px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:107px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:124px;
  height:1px;
}
#u75 {
  position:absolute;
  left:460px;
  top:67px;
  width:70px;
  height:22px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:540px;
  top:0px;
  width:285px;
  height:345px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:345px;
}
#u78 {
  position:absolute;
  left:2px;
  top:164px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:324px;
  top:161px;
  width:16px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u80 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:21px;
  top:407px;
  width:329px;
  height:76px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:76px;
}
#u82 {
  position:absolute;
  left:2px;
  top:30px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:46px;
  top:414px;
  width:47px;
  height:47px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u84 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:33px;
  top:461px;
  width:72px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:324px;
  top:417px;
  width:16px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u88 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:254px;
  top:417px;
  width:66px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:37px;
  top:276px;
  width:40px;
  height:40px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:480px;
  top:407px;
  width:200px;
  height:200px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u94 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:532px;
  top:654px;
  width:118px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:703px;
  top:359px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:541px;
  top:622px;
  width:100px;
  height:16px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:306px;
  top:423px;
  width:124px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:107px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:124px;
  height:1px;
}
