body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:51px;
  top:89px;
  width:328px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:20px;
  width:330px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:86px;
  top:30px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:182px;
  top:30px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:54px;
  top:29px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:51px;
  top:0px;
  width:328px;
  height:27px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:51px;
  top:59px;
  width:67px;
  height:31px;
  color:#0000FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:182px;
  top:59px;
  width:67px;
  height:31px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:248px;
  top:59px;
  width:67px;
  height:31px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:312px;
  top:59px;
  width:67px;
  height:31px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:117px;
  top:59px;
  width:67px;
  height:31px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:51px;
  top:94px;
  width:328px;
  height:134px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:134px;
}
#u23 {
  position:absolute;
  left:2px;
  top:59px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:51px;
  top:130px;
  width:328px;
  height:67px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:67px;
}
#u25 {
  position:absolute;
  left:2px;
  top:26px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:51px;
  top:94px;
  width:328px;
  height:37px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:37px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:65px;
  top:105px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:313px;
  top:105px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:65px;
  top:134px;
  width:59px;
  height:57px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:134px;
  top:137px;
  width:209px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:134px;
  top:163px;
  width:151px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:51px;
  top:221px;
  width:328px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u39 {
  position:absolute;
  left:51px;
  top:125px;
  width:328px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u40 {
  position:absolute;
  left:51px;
  top:89px;
  width:328px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u41 {
  position:absolute;
  left:65px;
  top:202px;
  width:166px;
  height:16px;
  color:#0000FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:51px;
  top:232px;
  width:328px;
  height:134px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:134px;
}
#u44 {
  position:absolute;
  left:2px;
  top:59px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:51px;
  top:268px;
  width:328px;
  height:67px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:67px;
}
#u46 {
  position:absolute;
  left:2px;
  top:26px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:65px;
  top:243px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:313px;
  top:243px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:65px;
  top:272px;
  width:59px;
  height:57px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u52 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:134px;
  top:275px;
  width:209px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:134px;
  top:301px;
  width:151px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:51px;
  top:359px;
  width:328px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u58 {
  position:absolute;
  left:65px;
  top:340px;
  width:166px;
  height:16px;
  color:#0000FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:51px;
  top:373px;
  width:328px;
  height:134px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:134px;
}
#u61 {
  position:absolute;
  left:2px;
  top:59px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:51px;
  top:409px;
  width:328px;
  height:67px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:67px;
}
#u63 {
  position:absolute;
  left:2px;
  top:26px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:65px;
  top:384px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:313px;
  top:384px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF6600;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:65px;
  top:413px;
  width:59px;
  height:57px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u69 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:134px;
  top:416px;
  width:209px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:134px;
  top:442px;
  width:151px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:51px;
  top:500px;
  width:328px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u75 {
  position:absolute;
  left:65px;
  top:481px;
  width:166px;
  height:16px;
  color:#0000FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:321px;
  top:29px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
